@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>            
        </div>
    </div>
    <div class="col-12 bg-dark p-4">
        <img class="mb-2" src="https://dotnet.microsoft.com/static/images/anniversary/anniversary-logo.svg?v=V8TPY1YgibD7PgDQbNZhkXN6hZYp7ZpLSPvK3rYRt14" alt="" width="120" height="120">
    </div>
</div>