<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.8.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Enrichers.ClientInfo" version="1.1.4" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Elasticsearch" version="8.4.1" targetFramework="net48" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net48" />
  <package id="Serilog.Sinks.Debug" version="2.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Elasticsearch" version="8.4.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net48" />
  <package id="SerilogWeb.Classic" version="5.1.66" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net48" />
</packages>